//path
$fonturl     : '../fonts';
$imageurl    : '../images';

//fonts
$font-reg    : 'Poppins-Regular';
$font-bold   : 'Poppins-Bold';
$font-semi   : 'Poppins-SemiBold';
$font-med    : 'Poppins-Medium';
$font-light  : 'Poppins-Light';


//variables
$theme-color	: #2A05A7;
$green          : #02F0A1;
$yellow   		: #FFD54B;
$white   		: #ffffff;
$black   		: #000000;
$light-black	: #333;
$grey           : #808080;
$body-bg		: #FAFAFA;
$border-color   : #E5E5E5;
$social-color   :#3B5998 #55ACEE #007AB9;


